@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoRegular/RobotoRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoLight/RobotoLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoBold/RobotoBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: Splash;
    src: url(../fonts/splash.otf);
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: NeoTech;
    src: url(../fonts/NeoTech.otf);
    font-style: italic;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 14px;
}


/*------HEADR-------*/

header {
    background: black;
    height: 90px;
    display: flex
}

header a,
header li {
    text-decoration: none;
    color: #fff;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .flex {
    align-items: center;
    align-content: center
}

header aside {
    align-items: center;
    flex-grow: 2;
    justify-content: flex-end;
}


/*menu*/

header nav > ul {
    margin-top: 28px;
    margin-left: 32px;
}

header aside {
    margin-top: 14px;
}

.menu > ul > li {
    width: 97px;
    margin: 0 1.7em;
}

.menu a {
    padding: 18px 0 28px;
    font-size: 1em;
    text-transform: uppercase;
    color: #aaaaaa;
    display: block;
    text-align: center;
    position: relative
}

.menu a:not(.sub-menu-link):hover,
.menu a.active {
    color: #fff;
}

.menu a:not(.sub-menu-link):before {
    content: "";
    width: 120%;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: -10%;
    transition-duration: .5s;
    height: 0;
}

.menu a:hover:before {
    height: 3px;
}

.menu a.active:hover:before {
    background-color: #2196f3
}

.sub-menu:before {
    content: "";
    transition-duration: .5s;
    content: "";
    width: 140px;
    position: absolute;
    height: 340%;
    background: #fff;
    left: -7px;
    top: 0;
    border-radius: 3px;
    box-shadow: 0px 0 4px 1px rgba(0, 0, 0, .5);
    z-index: 1;
    height: 0;
}

.sub-menu:hover:before {
    ;
    height: 340%;
}

.sub-menu {
    position: relative
}

.sub-menu:after {
    content: '';
    width: 10px;
    height: 5px;
    background-position: -5px -5px;
    background-image: url(../images/sprite.png);
    position: absolute;
    right: -10%;
    top: 41%;
    margin-top: -2.5px;
    z-index: 5;
    transform: rotate(180deg);
    transition: .5s
}

.sub-menu:hover:after {
    transform: rotate(0deg)
}

.sub-menu-link {
    border-radius: 2px 2px 0 0;
    position: relative;
    z-index: 2
}

.sub-menu-list {
    position: absolute;
    width: 137px;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
    left: -6px;
}

.sub-menu:hover .sub-menu-list {
    opacity: 1;
    pointer-events: all;
    transition-duration: 1s;
    transition-delay: .2s;
}

.sub-menu-list a {
    text-transform: none;
    padding: 15px 0;
    display: block;
    text-align: center
}

.menu .sub-menu-list a:hover {
    color: #444444;
    background: #eeeeee
}

aside li a {
    font-size: 14px;
}

.menu .sub-menu-list a:before {
    content: none;
}


/*logo*/

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    margin: 0;
}

.circle figcaption {
    font-size: 34px;
    transform: rotate(-30deg) translateY(5px) translateX(-10px);
    font-family: NeoTech;
}

.separate {
    margin: 0 5px;
    font-size: 13px;
    vertical-align: baseline;
}


/*-------------MAIN---------------*/

main {
    background: #f3f3f3;
    padding-bottom: 54px;
}

.wrapper-items {
    padding: 40px 0 0 100px
}

.news-item {
    background: #fff;
    max-width: 780px;
    width: 100%;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 40px;
    overflow: hidden;
}

.news-item.full{
    max-width: 100%;
}
.news-item.full figure {
    height: 665px;
}

.news-item.full h2{
    line-height: 1.1em;
}

.news-item.full section {
    padding: 25px 30px 18px;
}

.wrapper-items.full {
    padding: 40px 0 0 0;
}

.news-item section {
    padding: 26px 30px 48px;
}

.news-item section.top-area {
    align-items: center;
    padding: 29px 28px 15px
}

.news-item figure {
    margin: 0;
    height: 401px;
    overflow: hidden
}

.news-item h2 {
    margin: 0;
    ;
    font-size: 2em
}

.top-area p {
    margin: 0;
    font-size: 16px;
    color: #4d4d4d;
}

.top-area span {
    font-size: 14px;
    color: #999999;
    margin-top: 6px;
    display: block
}

.top-area figure {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    position: relative
}

.top-area figure img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.5);
}

.top-area figcaption {
    margin: 0 0 0 18px
}

.bottom-area {
    font-size: 18px;
    line-height: 32px
}

.bottom-navigation {
    padding: 50px 0 25px;
    background: #2196f3;
}

.bottom-navigation a {
    font-size: 19px;
    color: #fff;
    text-decoration: none
}

.bottom-navigation ul,
.bottom-menu ul {
    justify-content: space-between;
    padding: 0;
    margin: auto
}

.bottom-menu li {
    margin-right: 22px
}

.bottom-navigation li,
.bottom-line li,
.copyright {
    display: inline-flex;
    align-items: center;
}

.bottom-line {
    padding: 37px 0;
    justify-content: space-between;
}

.bottom-line a,
.bottom-line p {
    color: #999999;
    font-size: 15px;
    margin: 0
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
}

.flex {
    display: flex;
}

.button.blue {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px 35px;
    background: #2196f3;
    border: none;
    line-height: 1;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, .5);
    margin-top: 14px;
    border-radius: 2px;
    transition-duration: .5s;
    cursor: pointer
}

.button.blue:hover {
    opacity: .7
}

.s {
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.ar-l {
    width: 16px;
    height: 16px;
    background-position: -25px -5px;
}

.ar-r {
    width: 16px;
    height: 16px;
    background-position: -51px -5px;
}

.bottom-navigation a {
    display: flex;
    align-items: center;
}

.bottom-navigation li:last-child a {
    flex-direction: row-reverse;
}

.bottom-navigation li:last-child a i {
    margin-left: 11px
}

.bottom-navigation li:first-child a i {
    margin-right: 11px
}

form label:hover .search-form {
    width: 300px;
    width: 300px;
    padding: 7px;
}

form label {
    flex-direction: row-reverse;
    position: relative;
    transition-duration: .5s;
}

.search-form:focus {
    width: 300px;
    padding: 7px;
}

.search-form {
    width: 0;
    border: none;
    transition-duration: .5s;
    position: absolute;
    right: 18px;
    z-index: 0;
    background: #111;
    margin-right: -20px;
    color: #fff;
}

.search-button {
    background-image: url(../images/sprite.png);
    width: 18px;
    height: 18px;
    background-position: -5px -31px;
    background-color: transparent;
    font-size: 0;
    border: none;
    vertical-align: middle;
    margin-left: 53px;
    position: relative;
    z-index: 12;
    transition-duration: .5s;
}

.burger {
    background: url(../images/burger.png);
    width: 30px;
    height: 24px;
    display: block;
    border: none;
    display: none
}
#menu.opened{
    display: block
}

@media(max-width:1200px) {
    header {
        padding: 0 2.5em
    }
}

@media(max-width:991px) {
    .search-button {
        margin-left: 26px;
    }
    .menu li:first-child {
        display: none;
    }
    .wrapper-items {
        padding: 2.5em;
    }
    .news-item {
        margin: 0 auto 2.5em
    }
    header nav > ul {
        margin-left: 17px
    }
}

@media(max-width:768px) {
    .menu a.active:before {
        content: "";
        width: 100%;
        height: 3px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .menu > ul > li {
        width: auto
    }
    .sub-menu > a {
        pointer-events: none;
    }
    .sub-menu-list {
        left: -21px;
    }
    .sub-menu:before {
        left: -24px;
    }
    .news-item h2 {
        line-height: 48px;
    }
    .bottom-navigation,
    .bottom-line {
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    .sub-menu:after {
        right: -45%;
    }
}

@media(max-width:500px) {
    header {
        padding: 1.5em;
    }
    header aside {
        margin: 0;
    }
    main {
        padding-bottom: 0;
    }
    .menu,
    .bottom-menu,
    header aside ul.flex {
        display: none
    }
    .wrapper-items {
        padding: .7em
    }
    .bottom-navigation,
    .bottom-line {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
    .search-button {
        transform: scale(1.4);
        margin-right: 45px;
    }
    .burger {
        display: block
    }
    .news-item > figure {
        margin: 0;
        height: 240px;
        overflow: hidden;
        position: relative;
    }
    .news-item > figure img {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    .news-item {
        margin-bottom: .7em;
    }
    .news-item:last-child {
        margin-bottom: 0
    }
    .bottom-line {
        padding: 1.5em;
    }
    .copyright {
        width: 100%;
        text-align: center;
        display: block;
    }
}

@media(max-width:400px) {
    body {
        font-size: 13px;
    }
}